{% extends "::layout.html.twig" %}

{% block title %}
    Blog - {{ parent() }}
{% endblock %}

{% block body %}
    {#  on definit le sous titre commun à toutes les pages du bundle #}
    <h1>Blog bundle </h1>
    <hr>
    
    {# On definit un nouveau bloc, que les vues du bundle pourront remplir #}
    {% block yatblog_body%}
    {% endblock %}
{% endblock %}
