<html>
    <head>
        <title>
            Bienvenue sur ma prière page avec le Site du Zéro!
        </title>
    </head>
    <body>
        <a href="{{path('yatblog_voir', {'id' : id_article}) }}"> Lien vers {{ id_article }}</a>
    </body>
</html>
