{% extends "BlogNewBundle::layout.html.twig" %}

{% block title %}
  Modifier un article  {{ parent() }} - 
{% endblock %}
{% block yatblog_body %}
    <h2>Modifier un article </h2>
    {% include "BlogNewBundle:Blog:formulaire.html.twig" %}
    
    <p>
        Vous éditez un article déja existant 
    </p>
    <p>
        <a href="{{ path('yatblog_voir', {'id': article.id }) }}" class="btn">
            <i class="icon-chevron-left"></i>
            Retour à l'article
        </a>
    </p>
    
{% endblock %}

