{% extends "BlogNewBundle::layout.html.twig" %}
{% block title %}
    Lecture d'un article - {{ parent() }}
{% endblock %}

{% block yatblog_body %}
    {# Ici, on inclut la vue #}
    {% include "BlogNewBundle:Blog:article.html.twig" %}

<p>
    <a href="{{ path('yatblog_accueil')}}" class="btn">
        
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        Retour à la liste
        </span>
    </a>
    <a href="{{ path('yatblog_modifier', {'id': article.id })}}">
        <span class="label label-warning">
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
        Modifier
        </span>
    </a>
    <a href="{{ path('yatblog_supprimer', {'id': article.id }) }}">
        <span class=" label label-danger">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
        Supprimer
        </span>
    </a>
</p>

{% endblock %}